body {
    font-family: Arial, sans-serif;
    background-color: #daeff22c;
    margin: 0;
    padding: 0;
}

/* Container styles */
.container {
    max-width: 800px;
    margin: 10px auto;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Heading styles */
h1 {
    text-align: center;
}


/* Form styles */
form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

/* Input and button styles */
input[type="text"],
button {
    padding: 10px;
    font-size: 12px;
    border-radius: 4px;
    background-image: linear-gradient(to right, #b3def3, #d6f294);
}

button {
    cursor: pointer;
    background-image: linear-gradient(to right, #b3def3, #d6f294);
    color: #1b1a1a;
    border-radius: 4px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

button:hover {
    background-color: #efafe0;
}

/* List styles */
ul {
    list-style-type: none;
    padding: 0;
}

/* Task item styles */
li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Completed task styles */
.completed {
    text-decoration: line-through;
    color: #999;
}
